<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="robotiq_2f_85_static" params="parent prefix *origin">
    <link name="${prefix}_base_link">
      <visual>
        <geometry>
          <mesh filename="package://robotiq_2f_85_gripper_description/meshes/robotiq_2f_85.stl" />
        </geometry>
        <origin xyz="0 0 0" rpy="1.5708 0 0" />
        <material name="black" />
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://robotiq_2f_85_gripper_description/meshes/robotiq_2f_85.stl" />
        </geometry>
        <origin xyz="0 0 0" rpy="1.5708 0 0" />
      </collision>
    </link>

    <joint name="${prefix}_base_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${prefix}_base_link" />
      <xacro:insert_block name="origin" />
    </joint>
  </xacro:macro>
</robot>
